@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/*variables*/
:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --first-color: #eeeeee;
    --second-color: #7768ff;
    --input-color: #eeeeee;
    --border-color: #ffffff;

    /*===== Fuente y tipografia =====*/
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #0011ff;
}

h1 {
    margin: 0;
}

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0;
    transition-duration: 0.5s;
}

.form:hover {
    box-shadow: 0 10px 25px rgba(209, 228, 244, 0.5);
    transition-duration: 0.5s;
}

.form:hover .form-title {
    font-size: 60px;
    transition-duration: 0.5s;
}

.form-title {
    font-weight: 800;
    margin-bottom: 3rem;
    color: var(--white-color);
    text-align: center;
    transition-duration: 0.5s;
}

.form-div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 2px solid var(--border-color);
    color: transparent;
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form-label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #0011ff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: 0.3s;
}

.form-button {
    display: block;
    margin-left: auto;
    margin-top: 80px;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form-button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.form-input:focus+.form-label {
    top: -.5rem;
    left: .8rem;
    color: var(--white-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form-input:not(:placeholder-shown).form-input:not(:focus)+.form__label {
    top: -.5rem;
    left: .8rem;
    color: white;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form-input:focus {
    border: 2px solid var(--white-color);
    color: var(--white-color);
}

@media screen and (max-width: 900px) {
    .form {
        width: 360px;
        padding: 4rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 10px 25px rgba(193, 203, 211, 0.5);
        transition-duration: 0.5s;
    }
}