.App {
  text-align: center;
}



.App-header {

  background: #1D4350;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A43931, #1D4350);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #A43931, #1D4350);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.GitHub{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--color-secondary);
  cursor: pointer;
  
}

.GitHub:hover{
  opacity: 0.6;
}